.header{
    background-color: black;
}
.contaiener-products{
    display:flex ;
    flex-wrap: wrap;
    padding: 10px;
    
   
    justify-content: center;
    
    
}
.total{
   background-color: aqua;
}
